internal/swagger/restapi/operations/** -diff
internal/swagger/restapi/doc.go -diff
internal/swagger/restapi/embedded_spec.go -diff
internal/swagger/restapi/error.go -diff
internal/swagger/restapi/server.go -diff
internal/swagger/models/** -diff
