internal/http/restapi/operations/** -diff
internal/http/restapi/doc.go -diff
internal/http/restapi/embedded_spec.go -diff
internal/http/restapi/error.go -diff
internal/http/restapi/server.go -diff
internal/http/models/** -diff
vendor/** -diff
